body{

}

.nav-links {
    text-align: right;
    list-style: none;

}
h1{
    font-size: 50px;
}

.nav-links li{
    display: inline-block;
    padding-right: 10px;
}

.header-img {
    background-image: url("http://lorempixel.com/g/900/400");


}

#social-media-links {

}
.sub-section {
    width: 40%;
    height: 20%;
    right: 20px;
    margin: 0px;
    float: right;

}


 .main {
     
     width: 50%;
     height:10%;
     left: 0;
     float: left;
 }

 footer {
     clear: both;
     bottom: 0px;
 }
