 .nav-links {
    text-align: right;
    list-style: none;




}

.alert-info hidden-on-mobile {

}

.header-img {

}

#social-media-links {

}
.sub-section {
  float: left;

}

 #main {
     float: left;

 }

 .main {

 }

 .header-img {

 }